@use "variables";

.voltura-accordion {
  .accordion-button {
    font-weight: 500;
  }
}

.accordion-item {
  border-radius: 5px;
  margin-bottom: 16px;
  &:has(.accordion-button:not(.collapsed)) {
    border: 1px solid variables.$voltura-text-soft;
  }
}

.accordion-button {
  &:not(.collapsed) {
    background-color: #fff;
    box-shadow: none;
  }

  &.collapsed {
    background-color: variables.$voltura-gray-soft;
    border-radius: 5px;
  }
}
