@use "variables";
@use "mixins";

.voltura-cars {
  background-color: variables.$voltura-gray-soft;

  &__wrapper {
    width: auto;
    gap: 1.2rem;

    @media (width <= 848px) {
      width: 100%;

      > div {
        width: 100%;
      }
    }
  }

  &__filters {
    @include mixins.card-elevated;
    justify-content: space-between;
    background-color: #fff;
    padding: 1.25rem;

    > .btn {
      width: auto;
    }

    label {
      margin: 0;
      margin-right: 14px;
    }

    .filter-price__dash {
      margin: 0 10px;
    }

    @media (width <= 848px) {
      .voltura__btn {
        width: 100%;
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 24px;

    @media (min-width: 780px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  .form-label {
    &.hidden {
      display: none;
    }
  }

  input[type="number"] {
    max-width: 81px;
  }
}

.car-card {
  @include mixins.card-elevated;

  flex: 1 1 calc(33.333% - 1.5rem);
  max-width: 365px;
  width: 100%;
  min-width: min(100%, 260px);
  display: flex;
  flex-direction: column;

  &:nth-of-type(2) {
    justify-self: center;
  }

  &:nth-of-type(3) {
    justify-self: end;

    @media (width <= 662px) {
      justify-self: center;
    }
  }

  @media (width <= 662px) {
    justify-self: center;
  }

  &__image-wrapper {
    border-radius: 1rem 1rem 0 0;
    overflow: hidden;
    aspect-ratio: 16 / 9;
    background: #fff;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  &__body {
    padding: 1rem 1.25rem 1.25rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0;
    width: 100%;
  }

  &__price {
    font-weight: 700;
    font-size: 20px;
    color: variables.$voltura-primary;
    margin-bottom: 7px;
    width: 100%;
  }

  &__meta {
    font-size: 13px;
    color: #6b7280;
  }

  &__cta {
    align-self: flex-start;
  }
}
