@use "mixins";

.voltura-cta-image {
  &__wrapper {
    position: relative;

    > h2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      @include mixins.fluid-heading(26px, 32px);
      max-width: 639px;
      width: 100%;
      text-align: center;
      padding: 0 40px;
    }
  }

  &__overlay {
    @include mixins.card-elevated;
    height: 295px;
    position: relative;

    background-image: url("../../src/assets/images/car-photo2.png");
    background-size: cover;
    background-position: center;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: rgba(18, 60, 120, 0.8);
    }
  }
}
