// Zmienne projektu

$voltura-primary: #0b1e40;
$voltura-primary-dark: #123c82;
$voltura-accent: #28483b;
$voltura-gray-soft: #e5e7eb;
$voltura-text-main: #1f2937;
$voltura-text-soft: #6b7280;

$voltura-border: 1px solid $voltura-gray-soft;

$voltura-main-bg-color: #f7f9fc;

$voltura-radius-md: 10px;
$voltura-radius-lg: 1rem;
$voltura-shadow-soft: 0 14px 30px rgba(15, 23, 42, 0.08);
